.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sidebar-item a .active {
  color: black !important;
  font-weight: bolder !important;
  opacity: 1 !important;
}

.page-wrapper {
  display: block;
}

.sidebar-nav #sidebarnav .sidebar-item .first-level {
  display: block;
}

.customer-ranking-table {
  width: 100%;
}

/* Thêm dòng này để ẩn, hiện thanh scroll ngang khi vượt quá height */
.max-height-10 {
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}


/* Tùy chỉnh thanh cuộn trong trình duyệt WebKit */
.max-height-10::-webkit-scrollbar {
  width: 8px;
  /* Chiều rộng của thanh cuộn */
}

.max-height-10::-webkit-scrollbar-thumb {
  background-color: #EEEEEE;
  /* Màu nền của thanh cuộn */
  border-radius: 4px;
  /* Bo tròn các góc */
}

.max-height-10::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  /* Màu nền của phần track */
}

table {
  margin-top: 3px;
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f2f2f2;
  border: 0.5px solid #dddddd;
  text-align: left;
  padding: 2%;
}

td {
  border: 0.5px solid #dddddd;
  text-align: left;
  padding: 1%;
}